<!-- This page gets called from application.py when the user encounters a registration error (i.e. existing username, passwords don't match, etc.) -->
<!-- The page is the same as registration.html, except that it contains an error alert -->
<!-- Extend layout template with Jinja -->
{% extends "layout.html" %}
{% block title %}
    Registration Error
{% endblock %}
{% block body %}
<!-- BOOTSTRAP theme template -->
<main class="main-bootstrap">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form autocomplete="off" class="registration100-form validate-form" method="post">
                    <span class="login100-form-title p-b-43">
                        <img src="{{url_for('static', filename='Booknotes_logo.png')}}" alt="Booknotes logo" id="logo_registration">
                        <br>
                        Sign up to continue
                    </span>
                    <!-- Link that redirects to the login page -->
                    <span class="new_user">
                        Already a member? <a href="/login">Log in here</a>
                    </span>
                    &nbsp;
                    <!-- BOOTSTRAP error alert -->
                    <div class="alert alert-danger" role="alert">
                        <!-- Get and display the error message (sent from application.py, "/registration" route) -->
                        {{ error_message }}
                        <!-- Link to offer the user re-direction -->
                        <a class="alert-error-link" href="{{ link }}">{{ linked_text }}</a>
                        <!-- For error messages that have a link (as per above), this provides a space to continue the error message after the link -->
                        {{ error_message_cont }}
                    </div>
                    <!-- Username field -->
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>
                    <!-- Password field -->
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>
                    <!-- Password confirmation field -->
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="confirmation">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Confirm password</span>
                    </div>
                    <!-- Register button -->
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>
                </form>
                <div class="login100-more"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}